.heading {
  width: 100%;
  height: 250px;
  background-color: rgb(242, 113, 135);
  color: white;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
}
.heading h1 {
  font-size: 3rem;
}
.heading p {
  width: 70%;
  text-align: center;
  font-size: 1rem;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.menu1 {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  gap: 10%;
}
.menu1 li {
  list-style: none;
  font-size: 1.2rem;
}
.service_contanier {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.content {
  border: 1px solid black;
  display: flex;
  width: 70%;
}
.service_image {
  width: 40vw;
  height: 450px;
}
.service_image img {
  width: 40vw;
  height: 450px;
  object-fit: cover;
}
.service_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 450px;
  justify-content: center;
  padding: 0 3rem;
}
.service_content p {
  color: gray;
}
.service_content button {
  background-color: rgb(248, 161, 175);
  padding: 10px 10px;
  width: 100px;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  color: white;
  cursor: pointer;
}
.service_content button:hover {
  background-color: rgb(247, 55, 151);
}
.menu1 li:hover {
  cursor: pointer;
  color: rgb(247, 55, 151);
}
.mobile_menu {
  display: none;
  margin: 10px 10px;
}
.mobile_menu select {
  width: 90vw;
  height: 33px;
  font-size: 1.2rem;
  padding-left: 10px;
}
.mobile_menu select option {
  font-size: 1rem;
}
@media only screen and (max-width: 700px) {
  .content {
    border-bottom: 1px solid black;
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }
  .service_image {
    width: 100%;
  }
  .service_image img {
    width: 100%;
    object-fit: cover;
  }
  .service_content {
    width: 90%;
    padding: 0 1rem;
  }
  .menu1 {
    display: none;
  }
  .mobile_menu {
    display: block;
  }
  .heading {
    padding: 20px 0 20px 0;
    justify-content: center;
  }
  .heading p {
    width: 90%;
  }
}
