.links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
    padding-bottom: 20px;
}
.icon{
    color:black;
}
.main_div{
    background-color: white;
}
.trial{
    text-align: center;
    font-size: 1.5rem;
    padding: 40px 10px 10px 10px;
    background-color: white;
  }
  .trial span{
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
  }